body{
  width: 100vw;
  height: 100vh;
  background-color: #F8F8F8;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.App{
  display: flex;
  flex-direction: row;
}

.monthly{
  width: 52%;
  height: 100vh;
  display: flex;
}

.daily{
  width:48%;
}

.date-wrapper, .month, .year{
  font-weight: 600;
  color: #6E6B7B;
}

.date-wrapper{
  /* background-color: blue; */
  padding-top:3.5em;
}

.date{
  font-size: 4.5em;
  margin: 0;
  line-height: 80%;
}

.day{
  margin: 0;
  font-size: 2.5em;
}

.month{
  margin: 0;
  font-size: 2.8em;
}

.year{
  margin: 0;
  font-size: 1.4em;
}

.todolist-wrapper{
  /* background-color: aquamarine; */
  width: 65%;
  padding: 2.5em;
  margin-left: auto;
}

.todolist-header{
  font-size: 16px;
  font-weight: 600;
  color: #6E6B7B;
  margin: 0;
  margin-bottom: 0.5em;
}

.todolist-container{
  background-color: #ffffff;
  box-sizing: content-box;
  overflow: scroll;
  height: 100%;
  border-radius: 0.5em;
  border: 1px solid #EBE9F1;
  color: #6E6B7B;
}

.input-container{
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  border-bottom: 1px solid #EBE9F1;
}

.input-task{
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5em;
  border-style: none;
  outline: none;
  color: #6E6B7B;
}

::placeholder{
  color: #B9B9C3;
}

.input-task:focus::placeholder{
  padding-left: 0.4em;
  transition: padding-left 0.2s ease;
}

.add-task-btn{
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  border-style: none;
  border-radius: 2em;
  background-color: #EA5455;
  color: #ffffff;
  padding: 0 1.7em;
  transition: box-shadow .2s ease;
}

.add-task-btn:active, .add-task-btn:focus{
  box-shadow: none;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.todolist{
  margin: 0;
  padding: 0;
}


.task{
  list-style: none;
  padding:0.7em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBE9F1;
}

.delete-task-btn{
  display: block;
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  color: #D8D6DE;
}

.delete-task-btn:hover{
  color: #B9B9C3;
  transition: color .3s ease;
}

.checkbox-input{
  display: none;
}

.checkbox{
  width: 1rem;
  height: 1rem;
  border: 1px solid #D8D6DE;
  border-radius: 50%;
  margin-right: 0.5em;
  cursor: pointer;
}

.checkmark{
  visibility: hidden;
  color: #ffffff;
  font-size: 1rem;
}

.checked{
  background-color: #EA5455;
  border: 1px solid #EA5455;
  box-shadow: 0 2px 5px rgb(234, 84, 85, 0.5);
}

.checked + span{
  color: #B9B9C3;
}

.checked > .checkmark {
  visibility: visible;
}  

.note-section{
  height: 55%;
  padding: 2.5em;
  padding-left: 0;
  box-sizing: border-box;
}

.note-container{
  background-color: #ffffff;
  border-radius: 0.5em;
  height: 100%;
  box-shadow: 0 4px 24px 0 rgb(34, 41, 47, 0.1);
}

.note-header{
  display: flex;
}

.note-header-title{
  font-size: 1.5em;
  font-weight: 600;
  color: #6E6B7B;
  padding: 0.6em 0.8em;
  margin:0;
}

.edit-btn, .done-btn{
  color: #6E6B7B;
  font-size: 1.5em;
  margin-left:auto;
  padding: 0.6em 0.8em;
  cursor: pointer;
}

.note-title, .note{
  width:92%;
  margin: auto;
  display: block;
  padding: 0.6em;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #EBE9F1;
  border-radius: 0.5em;
  color: #6E6B7B;
  outline: none;
}

.note-title:focus,
.note:focus{
  border:1px solid #EA5455;
  box-shadow: 0px 0px 18px 0px #EBEBEB;
}

.note-title:focus::placeholder{
  padding-left: 0.4em;
  transition: padding-left 0.2s ease;
}

.note{
  margin: 1em auto;
  height: 60%;
  resize: none;
} 

.title{
  font-weight: 500;
  font-size: 1.3em;
  margin: 0;
  padding: 0.3em 1.2em;
  color: #5E5873;
}

.content{
  height: 55%;
  overflow: auto;
  color: #5E5873;
  padding: 1em 1.5em;
  margin:0;
}

.calendar-section{
  width: 60%;
  padding: 2.5em 3em;
}

.calendar-container{
  background-color: #ffffff;
  width:100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: 0 4px 24px 0 rgb(34, 41, 47, 0.1);
}

.calendar-header{
  padding: 1.7em 1.5em 1.2em 1.5em;
  display: flex;
}

.btn-group-wrapper{
  margin-left: auto;
}

.button-group{
  display: flex;
  margin-top: 0.5em;
}

.prev-btn, .today-btn, .next-btn{
  background-color: #ffffff;
  color: #6E6B7B;
  font-family: 'Montserrat';
  font-weight: 600;
  border: 0.7px solid #EBE9F1;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover,
.today-btn:hover{
  background-color: #ebe9f17e;
}

.prev-btn, .next-btn{
  font-size: 1.2em;
  border-radius: 0.3em;
  padding: 0;
}

.prev-btn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.next-btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.today-btn{
  font-size: 0.6em;
  padding: 0.2em 1.6em;
  border-style: solid none solid none;
}

.arrow{
  display: block;
  padding: 0.1em;
}

.calendar{
  width: 90%;
  margin: 0 auto;
  color: #6E6B7B;
  text-align: center;
  border-spacing: 0.4em;
  table-layout: fixed;
}

.row-day{
  color: #B9B9C3;
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 0.85em;
}

.circle-wrapper{
  height: 35px;
}

.circle{
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 2em;
  cursor: pointer;
}

.today{
  color: #EA5455;
  border: 1px solid #EA5455;
}

.selected{
  background-color: #EA5455;
  border: 1px solid #EA5455;
  color: #ffffff;
  font-weight:500;
}

.prev-month, .next-month{
  color: #EEE9F1;
}

.category-section{
  /* background-color: chocolate; */
  width: 40%;
}

.category-wrapper{
  /* background-color: cornflowerblue; */
  margin-top: 15em;
  padding: 1.8em;
  padding-right: 0;
  font-weight: 600;
}

.category-header{
  color: #b9b9c3;
  display: flex;
  font-size: 0.9em;
  margin-bottom: 1.5em;
  margin-left: 1em;
}

.show-inputgroup-btn{
  font-size: 1.3em;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.category-list{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #4e5154;
}

.category-label{
  padding: 0.45em;
  margin: 0;
  display: flex;
}

.category-label:hover{
  background-color: #ffffff;
  border-radius: 0.4em;
}

.category-label:hover > .delete-category-btn{
  color: #B9B9C3;
}

.delete-category-btn{
  font-size: 1.3em;
  display: block;
  margin-left: auto;
  color:#F8F8F8;
}

.delete-category-btn:hover{
  cursor: pointer;
}

.bullet-styling{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.bullet{
  width: 0.75rem;
  height: 0.75rem;
  margin:auto 1em auto 0.4em;
}

.bullet-default{
  background-color: #7367f0;
}

.category-input-group{
  border-radius: 0.4em;
  display: flex;
}

.bullet-wrapper{
  background-color: #ffffff;
  border: 1px solid #EBE9F1;
  border-style: solid none solid solid;
  border-radius: 0.4em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  padding-left: 0.4em;
}

.category-input-group:active ,
.category-input-group:focus-within{
  box-shadow: 0px 0px 10px 0px  rgba(146, 146, 146, 0.1);
}

.category-input{
  padding: 0.55em;
  border: 1px solid #EBE9F1;
  border-style: solid none solid solid;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.category-input:focus::placeholder{
  padding-left: 0.4em;
  transition: padding-left 0.2s ease;
}

.add-calendar-btn{
  background-color: #ffffff;
  border:  1px solid #EBE9F1;
  border-radius: 0.4em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 20%;
  margin-left: auto;
  display: flex;
}

.add-calendar-btn:hover{
  border:  1px solid #EA5455;
}

.add-btn-mark{
  font-size: 1.3em;
  cursor: pointer;
  color: #EBE9F1;
  margin: auto;
  display: inline-block;
}

.add-calendar-btn:hover > .add-btn-mark{
  color: #EA5455;
}



